
body {
	margin: 0;
	padding: 0;
	background-color: #fbf1de;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}

h1, h2{
/*	padding: 10px;*/
	font-weight: normal;
	color: #874854;
}

h3, h4 {
	font-weight: normal;
	color: #874854;
}

h1 {
	position: relative;
	left: 35px;
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.2em;
}

h5{
	color: #874854;
	font-size: 1em;
}

p, ul, ol {
	margin-top:0;
	line-height: 150%;
}

a{ 
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #6b9eb4;
}

.wineTitle{ /* not sure if this is actually working */
	width: 100%;
	border-bottom: 1px solid #B8B8B8  ;
	display: block;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}

.title  { 
	display: block;
	text-align: left;
	margin:0px;
	padding-left: 85px; /* 35+50 */
	font-weight: bold;
}

/* MAIN CONTENT STUFF */
.content .inputs{
	float: left;
}

.content h4{
	text-align: left;
	padding-left: 85px;
	margin-bottom: 10px;
}

.content img {
	max-height: 100%;
	max-width: 100%;
	float: left;
	position: relative;
	left: 70px;
}

.content p {
	margin-left: 85px;
	padding-bottom: 20px;
	line-height: normal;
	text-align: justify;
	color: #58585b;
	font-size: 1em;
}

.content ul {
	list-style: none;
	line-height: normal;
	text-align: left;
}

.content li {
	display: block;
	padding-bottom: 10px;
}

.content a {
	/* padding-left: 30px;*/
	float: center;
	color: #874854;
}


#main a:hover img{
	opacity: 0.5;
	transition: all 0.4s ease-in 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

#main img  {  /* needs fixing*/
	width: 100%;
	float: center;	
/*	margin-left: 50px;*/
	margin-top: 20px;
	margin-bottom: 20px;
}

/* seasonal special on home pg */
.seasonal .col-1of3 img {
	max-height:100%;
	display: inline-block;
}

.seasonal .col-1of3 h4, p {

	text-align:left
}

#top{
	padding-left: 50px;
	margin-bottom: 0px;
}
/* NAV-MENU */
.menu{
}

nav a, nav a:visited {
	padding:3px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #874854;
}

nav a:hover, nav a:active {  /* active not working now */
	color: #6b9eb4;
	border: 1px solid #6b9eb4; 
}

#ToggleBar{
	display: none;
	background:#874854;
	text-transform: uppercase;
	font-weight: bold;
	color: #E8E8E8;
	text-align: center;
	padding: 0.7em 2em;
	text-decoration: none;
}

#ToggleBar:hover{
	opacity: 0.5;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

/* LOGO & log in stuff */
#logo {
	overflow: visible;
	position: relative;
	left: 50px;
}
#logo ul {
	list-style: none;
	line-height: normal;
	float: right;
}
#logo li {
	font-size: 0.8em;
	padding-bottom: 10px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: underline;
	color: #58585b;
}

#logo a:hover {
	font-weight: normal;
	color: #6b9eb4;
}

#scart img {
	display: block;
	clear: both;
	width: 50px;
	opacity: 0.7;
	position: relative;
	float: right;
	position: relative;
	bottom:0.5em;
	right: 10.3em;
	/*display: inline-block;*/
}

#scart img:hover {
	opacity: 1;
}

/* FOOTER */
#footer {
	display: block;
	height: 120px;
	margin-top: 20px;
	background-color:#874854;
}

#footer p {
	padding-top: 15px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	color: #fbf1de;
}

/* Wine Pg Sidebar */
#sideBar {
	max-width:100%;
	min-width: 20%;
	display: block;
	text-align: center;
	background: rgba(209, 210, 212, 0.5);
	opacity: 0.8;
	margin-left: 0px;
	margin-bottom: 20px;
}

#sideBar a {
	font-size: 0.9em;
	border: none;
	text-decoration: underline;
	color: #58585b;
	font-weight: bold;
}

 #sideBar a:hover {
	border: none;
	text-decoration: underline;
	color: #1b75bb;
}

 #sideBar ul {
	list-style: none;
	line-height: thin;
	text-align: right;
	}

 #sideBar li {
	display: block;
	padding: 2px;
}

 #sideBar h5 {
 	margin-top: 15px;
 	margin-bottom:5px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

#winepg {
	margin: 3px;
	margin-top: 10px;
	padding: 5px;
	border-spacing: 5px;
	background: rgba(209, 210, 212, 0.3);
}

#txtLike {
	display: block;
	margin-top: 50px;
	margin-bottom:5px;
	font-weight: bold;
	padding-bottom: 0px;
	border-bottom: thin solid  #d1d2d4;
}

#userBox{
	padding-bottom: 30%;
	border-style: solid;
	border-color: #d1d2d4;
}

.inputs{
	position: relative;
	left: 15px;
	float: left;
	padding-top: 20px;
	display: inline-block;
}

.inputs label {
	display:inline-block;
	margin-right: 10px;
}

.login label{
	display:inline-block;
	float: center;
	text-align: left;
}

label {
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 7px; /* NOT WORKING */
	display: inline-block;
}

/* Buttons */
button {
	display: inline-block;
	background-color: #874854;
	color: #FFFFFF;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.1em;
	float: right;
	margin-top: 20px;
}

button.view{
	background-color: #874854;
	color: #FFFFFF;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1em;
	float: right;
	margin-top: 7px;
}

button:hover {
	border: none;
	background-color: #1b75bb;
	color: #FFFFFF;
}

#submit {
	background-color: #874854;
	color: #FFFFFF;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.1em;
}

#submit:hover{
	border: none;
	background-color: #1b75bb;
	color: #FFFFFF;
}


#login {
	position:relative;
	right: -150px;
	background-color: #874854;
	color: #FFFFFF;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.1em;
}

#login:hover{
	border: none;
	background-color: #1b75bb;
	color: #FFFFFF;
}

#login img{
	border: none;
}

/* col stuff */
.col-1of2 a{
	text-decoration: none;
	border: none;
	background: none;
	color: #58585b; 
	font-size:0.9em;
	text-align: left;
	display: block;
	margin-bottom: 15px;
}

.col-1of2 a:hover{
	font-weight: normal;
	color: #6b9eb4;
}

.col-1of2 p{
	float: left;
	margin-bottom:5px;
}

.guest label{
	margin-right: 10px;
	font-size: 1em;
	font-weight: bold;
	color: #58585b;
}

.guest h4{
	position: relative;
	left: -180px;
}

/* individual pages */
.individual p{
	text-align: left;
	float: center;
	display: block;
	margin-left: 25px;
}

.individual a{
	text-align: left;
	display: block;
}

.individual form{
	display: inline-block;
}

.individual label{
	margin-right: 10px;
	font-size: 0.9em;
	display: inline-block;
	float: center;
}

.individual #btnIndi{
	display: inline-block;
	text-align: center;
	float: right;
	margin-top:15px;
}

.individual #btnIndi button{
	margin-right:15px;
}

.individual img{
	margin:15px;
	max-width:100%;
}


