
body {
	margin: 0;
	padding: 0;
	background-color: #fbf1de;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}

h1, h2{
	padding: 10px;
	font-weight: normal;
	color: #874854;
}

h3, h4 {
	padding: 0px;
	font-weight: normal;
	color: #874854;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.2em;
}

p, ul, ol {
	margin-top:0;
	line-height: 150%;
}

a{ 
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #6b9eb4;
}

.wineTitle  { /* not sure if this is actually working */
	width: 90%;
	border-bottom: 1px solid #888888;
	padding:10px;
	display: block;
	font-weight: bold;
	text-align: center;

}

.title  { /* not sure if this is actually working */
	display: inline-block;
	padding:10px;
	font-weight: bold;
}

/* MAIN CONTENT STUFF */
.content {
}

.content img {
	margin-left: 15px;
}

.content p {
	margin-left: 15px;
	line-height: normal;
	text-align: justify;
	color: #58585b;
	font-size: 1em;
}

.content ul {
	list-style: none;
	line-height: normal;
	text-align: left;
}

.content li {
	display: block;
	padding-bottom: 10px;
}

.content a {
	/* padding-left: 30px;*/
	float: center;
	color: #874854;;
}


#main a:hover img{
	opacity: 0.5;
	transition: all 0.4s ease-in 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

#main img  {  /* needs fixing*/
	width: 90%;
	float: center;	
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* seasonal special on home pg */
.seasonal .col-1of3 img {
	max-height:100%;
	display: inline-block;
}

.seasonal .col-1of3 h4, p {

	float: center;
}


/* NAV-MENU */
nav a, nav a:visited {
	padding:5px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #874854;
}

nav a:hover, nav a:active {  /* active not working now */
	color: #6b9eb4;
	border: 1px solid #6b9eb4; 
}

/* LOGO & log in stuff */
#logo {
	height: 40px; 
	overflow: visible;
}
#logo ul {
	list-style: none;
	line-height: normal;
	float: right;
}
#logo li {
	font-size: 0.8em;
	padding-bottom: 10px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: underline;
	color: #58585b;
}

#logo a:hover {
	font-weight: normal;
	color: #6b9eb4;
}

#logo img {
	float: center;
}

/* FOOTER */
#footer {
	display: block;
	height: 80px;
	margin-top: 20px;
	background-color:#874854;
}

#footer p {
	padding-top: 15px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	color: #fbf1de;
}

/* Wine Pg Sidebar */
#sideBar {
	width:250px;
	max-height:750px;
	display: inline-block;
	overflow: visible;
	background-color:#d1d2d4;
	opacity: 0.6; 
	margin-left: 15px;
	margin-right: 30px;
}

#sideBar a {
	border: none;
	text-decoration: underline;
	color: #58585b;
	font-weight: bold;
}

 #sideBar a:hover {
	border: none;
	text-decoration: underline;
	color: #1b75bb;
}

 #sideBar ul {
	list-style: none;
	line-height: thin;
	float:left;
}

 #sideBar li {
	display: inline-block;
	padding:9px;
	float: left;	
}

 #sideBar h4 {
	text-align: left;
	padding-top: 15px;
	padding-left:10px;
	font-weight: bold;
	text-transform: uppercase;
}

#winepg {
	padding: 5px;
	border-spacing: 5px;
	border-style: solid;
	border-color: #d1d2d4;
	background-repeat: no-repeat;
}


.inputs{
	padding-left: 15px;
	padding-top: 20px;
	font-size: 0.8em;
}

/* Buttons */
#submit {
	background-color: #874854;
	color: #FFFFFF;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.1em;
}

#submit:hover{
	border: none;
	background-color: #1b75bb;
	color: #FFFFFF;
}
